/* // Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; */
/* Global custom styling */
#header.default {
  background-color: rgb(18, 57, 231);
}
#header.default .mega-menu .menu-links li a {
  color: white;
}
#header.default .mega-menu .menu-links li a.nav-link {
  color: rgb(18, 57, 231);
}
